/* ================================================== */
/* ! EXPERIMENTAL */
/* ================================================== */

@keyframes fadeIn {
    from { transform: scale(0.6); }
    to { transform: scale(1); }
}

.btn {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* ================================================== */
/* HEADER */
/* ================================================== */

.header {
    background-color: var(--color-surface-main);
    backdrop-filter: blur(4px);
}

.header .link:hover { color: #808080; }

/* ================================================== */
/* HERO */
/* ================================================== */

.hero {
    background-image: url('/assets/hero.webp');
    background-size: cover;
    background-position: center;
    margin-top: -117px;
}

/* ================================================== */
/* ABOUT */
/* ================================================== */

.about .img {
    aspect-ratio: 21 / 9;
    object-fit: cover;
}

/* ================================================== */
/* APPLY */
/* ================================================== */

.apply .includes { max-width: 568px; }

.apply .includes .body {
    max-height: 0;
    overflow: clip;
    transition:
        max-height 1s ease-out,
        content-visibility 1s ease-in,
        padding 0.5s;
}

.apply .includes .head .symbol { transition: transform 0.4s ease-in; }
.apply .includes:hover .head .symbol { transform: rotate(90deg); }

.apply .includes:hover .body {
    padding-top: 20px;
    max-height: 500px;
}

.apply .includes .body .para:nth-child(1) .text { color: var(--color-state-green); }
.apply .includes .body .para:nth-child(2) .text { color: var(--color-state-yellow); }
.apply .includes .body .para:nth-child(3) .text { color: var(--color-state-red); }

/* ================================================== */
/* GALLERY */
/* ================================================== */

.gallery .body .image-container { position: relative; }
.gallery .body .image-container .img { transition: transform 0.3s ease-out; }

.gallery .body .image-container::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 80%);
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery .body .image-container:hover::after { opacity: 1; }
.gallery .body .image-container:hover .img { transform: scale(1.1); }

@media (max-width: 768px) {
    .gallery .body { grid-template-columns: repeat(2, 1fr); }
}