/* ================================================== */
/* HERO */
/* ================================================== */

.hero { margin-top: -117px; }

/* ================================================== */
/* PROBLEM */
/* ================================================== */

.problem .tasks {
    grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
    max-width: 768px;
}

/* ================================================== */
/* CLAIM */
/* ================================================== */

.claim .categories {
    grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
    max-width: 768px;
}

.claim .foot { font-style: italic; }

/* ================================================== */
/* FLOW */
/* ================================================== */

