/* ================================================== */
/* ! EXPERIMENTAL */
/* ================================================== */

.btn {
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* ================================================== */
/* HEADER */
/* ================================================== */

.header {
    background-color: var(--color-surface-main);
    backdrop-filter: blur(4px);
}

.header .link:hover { color: #808080; }

/* ================================================== */
/* HERO */
/* ================================================== */

.hero {
    background-image: url('/assets/hero.webp');
    background-size: cover;
    background-position: center;
    margin-top: -72px;
}

/* ================================================== */
/* WORKFLOW */
/* ================================================== */

.workflow .body .step {
    aspect-ratio: 3 / 2;
    background-position: center;
    background-size: cover;
}

.workflow .body .step:nth-child(1) { background-image: url('/assets/shots/shot-2.webp'); }
.workflow .body .step:nth-child(2) { background-image: url('/assets/shots/shot-3.webp'); }
.workflow .body .step:nth-child(3) { background-image: url('/assets/shots/shot-4.webp'); }

/* ================================================== */
/* PRICING */
/* ================================================== */

.pricing #proCard { position: relative; }

.pricing #proCard::before,
.pricing #proCard::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 16px;
    background: linear-gradient(135deg, #059669, #363457, #FE5F55);
}

.pricing #proCard::before { filter: blur(4px); }

.pricing .pricing-card { transition: all 0.3s; }
.pricing .pricing-card .details {
    transition: all 0.3s allow-discrete;
    max-height: 0;
    overflow: clip;
}

.pricing .pricing-card.active .details {
    max-height: 100%;
}

/* ================================================== */
/* GALLERY */
/* ================================================== */

.gallery .image-container { position: relative; }

.gallery .image-container::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 1;
}

.gallery .image-container .img { transition: transform 0.4s ease-out, filter 0.4s ease-out; }
.gallery .image-container:hover::before { opacity: 1; }
.gallery .image-container:hover .img { transform: scale(1.1); }